.chessboard {
    width: 810px;
    height: 810px;
    margin: 20px;
    border: 10px solid #333;
}
.black {
    float: left;
    width: 90px;
    height: 90px;
    background-color: #999;
      font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.white {
    float: left;
    width: 90px;
    height: 90px;
    background-color: #fff;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.columnName {
    float: right;
    width: 90px;
    height: 90px;
    background-color: #333;
      font-size:25px;
      color: #fff;
      text-align: bottom;
    display: table-cell;
    vertical-align:middle;
}
.rowName {
    float: left;
    width: 90px;
    height: 90px;
    background-color: #333;
      font-size:25px;
      color: #fff;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}